body {
	font-family: Poppins;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}
section {
	max-width: 1200px;
	margin: 0 auto;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../Images/south-beach-miami-ocean-drive-neon-1920x550.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: whitesmoke;
	text-align: center;
	padding: 260px 0;
}
#hero-heading-one {
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 5px;
	margin: 0;
}
#hero-heading-two {
	color: var(--light, #fff);
	font-size: 96px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
}
#hero-heading-three {
	color: var(--light, #fff);
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}
header a {
	color: var(--dark, #272044);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-decoration: none;
	background: white;
	color: #272844;
	padding: 16px 32px;
	display: inline-block;
	margin-top: 32px;
}
footer {
	color: white;
	background-image: linear-gradient(
			rgba(39, 32, 68, 0.95),
			rgba(39, 32, 68, 0.95)
		),
		url("../Images/footer-image-four.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 0;
}
.footer-heading {
	color: var(--light, #fff);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-right: 28px;
	margin-left: 28px;
}
.footer-description {
	color: var(--light, #fff);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.6;
	margin-right: 28px;
	margin-left: 28px;
}
footer ul {
	padding: 0;
}
footer li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer a {
	color: white;
	opacity: 0.6;
}
#signature {
	text-align: center;
	padding-top: 80px;
}
@media (max-width: 960px) {
	header {
		padding: 60px 0;
	}
	#hero-heading-one {
		font-size: 20px;
	}
	#hero-heading-two {
		font-size: 48px;
	}
	#hero-heading-three {
		font-size: 24px;
	}
}
