body {
	font-family: Poppins;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}
section {
	max-width: 100%;
	margin: 0 auto;
	padding: 100px;
}
.grid {
	display: grid;
	grid-gap: 64px;
}
.grid-2-columns {
	grid-template-columns: 1fr 1fr;
}
.grid-1x-narrow-2x-columns {
	grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
	grid-template-columns: 1fr 1fr 1fr;
}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../Images/south-beach-miami-ocean-drive-neon-1920x550.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: whitesmoke;
	text-align: center;
	padding: 260px 0;
}
#hero-heading-one {
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 5px;
	margin: 0;
}
#hero-heading-two {
	color: var(--light, #fff);
	font-size: 96px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
}
#hero-heading-three {
	color: var(--light, #fff);
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}
header a {
	color: var(--dark, #272044);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-decoration: none;
	background: white;
	color: #272844;
	padding: 16px 32px;
	display: inline-block;
	margin-top: 32px;
}
main {
	background-color: white;
}

#section-one-image {
	max-width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: -10px;
	padding-top: 70px;
}
#section-one-title {
	color: var(--dark, #272044);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 5px;
	opacity: 0.3;
}
#section-one-heading {
	color: var(--dark, #272044);
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	margin: 0;
}
.section-one-description {
	color: var(--dark, #272044);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.7;
}
#section-two {
	background: #f8f8f8;
}
#section-two-title {
	text-align: center;
	color: var(--dark, #272044);
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 5px;
	opacity: 0.3;
	margin: 0;
}
#section-two-heading {
	text-align: center;
	color: var(--dark, #272044);
	text-align: center;
	font-family: Poppins;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
}
.card {
	background: white;
	margin: 30px 0;
}
.card-body {
	padding: 30px;
}
.card-image-header.grid {
	grid-gap: 0;
}
.card-embed-map {
	width: 100%;
	aspect-ratio: 1/1;
}
.card-location-header {
	color: var(--dark, #272044);
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
}
.card-heading {
	color: var(--dark, #272044);
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-description {
	color: var(--dark, #272044);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.7;
	align-self: stretch;
}
#myBtn {
	margin: 0;
	padding: 0;
	display: flex;
	float: center;
	margin-top: -10px;
	font-size: 12px;
	opacity: 0.6;
}
#more {
	display: none;
}
.card-footer {
	padding: 0px 30px 30px;
}
.button {
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	background: var(--purple-dark, #462cb2);
	text-decoration: none;
	color: var(--light, #fff);
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.section-two-card-image {
	width: 100%;
	display: block;
}
#section-three {
	text-align: center;
}
#section-three-title {
	color: var(--dark, #272044);
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 5px;
	opacity: 0.3;
	margin: 0;
}
#section-three-heading {
	color: var(--dark, #272044);
	text-align: center;
	font-family: Poppins;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
}
.gallery-embeds {
	margin: 30px 0;
}

footer {
	color: white;
	background-image: linear-gradient(
			rgba(39, 32, 68, 0.95),
			rgba(39, 32, 68, 0.95)
		),
		url("../Images/footer-image-four.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 0;
}
.footer-heading {
	color: var(--light, #fff);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.footer-description {
	color: var(--light, #fff);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.6;
}
footer ul {
	padding: 0;
}
footer li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer a {
	color: white;
	opacity: 0.6;
}
#signature {
	text-align: center;
}
@media (max-width: 960px) {
	header {
		padding: 60px 0;
	}
	#hero-heading-one {
		font-size: 18px;
	}
	#hero-heading-two {
		font-size: 48px;
	}
	#hero-heading-three {
		font-size: 22px;
		padding-top: 2px;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 32px;
	}
	section {
		max-width: 100%;
		padding: 50px;
	}
	#section-one-image {
		max-width: 100%;
		width: 300px;
		padding-top: 10px;
		opacity: 0.6;
		justify-content: center;
		align-items: center;
	}
	#section-one {
		text-align: center;
	}
	#section-one-title {
		font-size: 18px;
	}
	#section-one-heading {
		font-size: 26px;
		line-height: 40px;
	}
	#section-two {
		text-align: center;
	}
	#section-two-title {
		font-size: 18px;
	}
	#section-two-heading {
		font-size: 26px;
	}
	.card-image-header img {
		display: none;
	}
	.card-location-header {
		font-size: 22px;
	}
	.card-embed-map {
		aspect-ratio: 16/9;
	}
	#section-three-title {
		font-size: 18px;
	}
	#section-three-heading {
		font-size: 26px;
	}
	.gallery-embeds {
		justify-content: center;
		align-items: center;
	}

	footer {
		text-align: center;
		padding: 50px;
	}
}
